select.menu{
	width: 100%;
}

.left{
	text-align: left;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}


/*table*/
th{
	font-weight: bold;
    padding-right:10px;
}
td{
	padding-right:10px
}

/*title*/
h1{
    font-size: 135%;
}
h2{
    font-size: 125%;
}

.footer {
    font-size  : 0.9em;
    border-top : 1px solid #333;
    padding    : 1em 0em;
    margin     : 1em 0em;
    text-align : right;

}